{% extends "base.html" %}
{% block content %}
    <main class="container">
        <h1>Hi, {{ user.username }}!</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.post.label_tag }}<br>
            {{ form.post }}
            {% for error in form.post.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <div style="display: flex; justify-content: space-between;">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
            {% for error in form.image.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <p>
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </p>
        </form>

        {% for post in posts %}
            <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
                <h1 class="display-4 fst-italic" style="font-size: 30px;">
                    {{ post.timestamp|date:"DATETIME_FORMAT" }} {{ post.author.username }} says:</h1>
                <p class="lead my-3" style="font-size: 20px;">{{ post.body }}</p>
                {% load static %}
                {% if post.image_path %}
                    <p class="lead my-3" style="font-size: 20px;">
                        <img class="post-image" src="{% static 'images/' %}{{ post.image_path }}" alt="Post Image">
                    </p>
                {% endif %}
                {% if user.id == post.author.id or user.username == 'admin' %}
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-outline-secondary">Delete</a>
                    {#                    <a href="{% url 'delete_post' post.id %}" class="btn btn-outline-secondary">Delete</a>#}
                {% endif %}
            </div>
        {% endfor %}
    </main>
{% endblock %}